<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="/styles.css">
    <title></title>
</head>
<body>
    <div class="page">
        <div class="section" id="section">
            <div class="heading_area flex">
                <div class="image inb"><i class="fa-brands fa-rocketchat"></i></div>
                <h2 id="heading" class="inb">ChaTop!</h2>
            </div>
            <div class="message_area" id="message_area">
                
            </div>
            <div>
                <textarea name="textarea" id="textbox" cols="30" rows="1.5" placeholder="write your message here !!!"></textarea>
            </div>
        </div>
    </div>
    <script src="/all.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
</body>
</html>